.form-check {
    display: inline-block;
    margin-right: 10px;
}

.form-check label {
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
}

.form-check input[type="checkbox"] {
    accent-color: blue;
    transform: scale(1.5);
}
