@media only screen and (max-width: 600px) {
    .search {
        grid-template-columns: auto;
    }

    .search .search__employers section div {
        flex: 0 0 100%;   
    }

    .search .search__filters {
        height: auto;
    }
}